<footer class="background" style="--background: url('https://raw.githubusercontent.com/Harrisonthow/akkaya-lab/main/images/akkayabottom.webp')" data-dark="true">

  <!--
  <div class="footer_row">
    Extra details like contact info or address
  </div>
  -->

  <div class="footer_row">
    {%- for entry in site.links -%}
      {%- assign key = entry[0] -%}
      {%- assign value = entry[1] -%}
      {%- include link.html type=key icon="" tooltip="" link=value -%}
    {%- endfor -%}
  </div>

  <div class="footer_row">
    <span>
      &copy; {{ site.time | date: '%Y' }} {{ site.title }}
    </span>
  </div>

</footer>